<div class="about row">

    <div class="col-md-8">

        <h2>About ME</h2>

        <p>There should be content here, but bloger was too lazy, so it was gone.</p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>Skill Keywords</h2>
        {% if site.skill_strange_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Strange Skills</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_strange_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button> {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if site.skill_tools_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tools Skills</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_tools_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button> {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if site.skil_program_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Program Skills</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skil_program_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button> {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>